<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/update/<%=data.id%>" method="POST">
    <input type="text" name="name" placeholder="Enter Name">
    
    <input type="number" name="age" placeholder="Enter Age">
    
    <input type="disease" name="disease" placeholder="disease">

    <input type="doctorname" name="doctorname" placeholder="doctorname">

    <input type="fees" name="fees" placeholder="fees">
    
    <button type="submit">Add Patient</button>
    
   

</form>
    
</body>
</html>